@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');
@import 'mixins';
@import 'config';

/* GLOBAL STYLES */
* {
    box-sizing: border-box;
}

body {
    @include flexCenter();
    font-family: 'Poppins', sans-serif;
    margin: 0;
    background: #00F260; 
    background: -webkit-linear-gradient(to right, #0575E6, #00F260); 
    background: linear-gradient(to right, #0575E6, #00F260); 
    margin: 0;
    min-height: 100vh;

}

.mobile-container {
    width: 400px;
    background-color: #fff;
    border-radius: $border-radius;
    box-shadow: $box-shadow;
    overflow: hidden;
}

img {
    max-width: 100%;
}

/* HEADER STYLES */
header {
    @include flexCenter;
    padding: 1rem;

    input {
        font-family: inherit;
        padding: 0.5rem 1rem;
        border-radius: $border-radius;
        border:none;
        background-color: #eee;
    }

    button {
        background-color: transparent;
        border: none;
        color: #aaa;
        font-size: 1.5rem;
        margin-left: 10px;
    }
}

/* FAVORITE MEALS */
.fav-container {
    background-color: rgb(191, 230, 255);
    padding: 0.25rem 1rem;
    text-align: center;
}

.fav-meals {
    @include flexCenter;
    overflow: auto;
    list-style-type: none;
    padding: 0;

    li {
        width: 85px;
        margin: 5px;

        img {
            border: 2px solid #fff;
            object-fit: cover;
            height: 70px;
            width: 70px;
            border-radius: 50%;
        }

        span {
            display: inline-block;
            font-size: 0.9rem;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            width: 75px;
            position: absolute;
            bottom: -1rem;
            left: 0;

            &:hover {
                white-space: normal;
                overflow: auto;
            }
        }
    }
}

.fav-meals li .clear {
    background-color: transparent;
    border: none;
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    font-size: 1.2rem;
    opacity: 0;
    cursor: pointer;

    &:hover {
        opacity: 1;
    }
}

.meal {
    margin: 1.5rem;
    border-radius: 3px;
    box-shadow: $box-shadow;
    border-radius: $border-radius;
}

.meal-header {
    position: relative;

    .random {
        position: absolute;
        bottom: 1.5rem;
        right: 0;
        background-color: #fff;
        padding: 0.25rem  0.5rem;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
    }

    img {
        height: 300px;
        width: 100%;
        object-fit: cover;
    }
}

.meal-body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;

    h4 {
        margin: 0;
    }

    .fav-btn {
        background-color: transparent;
        border: none;
        font-size: 1.2rem;
        color: gray;
        cursor: pointer;
    }
}

.fav-btn.active {
    color: red;
}